@model LBAChamps.Models.Liga
@{
    ViewData["Title"] = "Nova Liga";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form asp-action="Create" class="mt-3">
    <div asp-validation-summary="All" class="alert alert-danger"></div>

    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Descricao" class="form-label"></label>
        <textarea asp-for="Descricao" rows="3" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="DataInicio" class="form-label"></label>
            <input asp-for="DataInicio" type="date" class="form-control" />
            <span asp-validation-for="DataInicio" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="DataFim" class="form-label"></label>
            <input asp-for="DataFim" type="date" class="form-control" />
            <span asp-validation-for="DataFim" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Esporte" class="form-label"></label>
        <input asp-for="Esporte" class="form-control" />
        <span asp-validation-for="Esporte" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>
        <input asp-for="Status" class="form-control"/>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
